.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 15px;
} 

.formulario {
    background-color: #373737;
    border-radius: 20px;
    width: 370px;
    padding: 40px;
    margin-top: 14%;
}

.formulario .tituloForm {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.modo-escuro .formulario {
    background-color: #ffffff;
    border-radius: 20px;
    width: 370px;
    padding: 40px;
}

.modo-escuro .formulario .tituloForm {
    color: #373737;
    font-size: 24px;
    margin-bottom: 15px;
}

.formulario .box {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.formulario .input {
    width: 100%;
    padding: 20px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.formulario .input:focus {
    border-color: #faa8f6;
}

.formulario .btnLogin {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #faa8f6;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario .btnLogin:hover {
    background-color: #f892f3;
}

.formulario h1 {
    color: antiquewhite;
}
